<.header>
  New Score
  <:subtitle>Use this form to manage score records in your database.</:subtitle>
</.header>

<.score_form changeset={@changeset} action={~p"/scores"} />

<.back navigate={~p"/scores"}>Back to scores</.back>
